footer{
    background-color: $color-6; padding: 56px; display: flex; justify-content: space-around; align-items: center;
    div{
        h2{
            color: $color-2;
            font-size: 20px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            text-align: center;
            padding: 16px;
        }
    }
    div{
        display: inline-block;
    }

    div{
        a{
            margin: 0 8px;
            img{
                width: 24px; height: 24px;
            }
        }
    }
}